# Dependencies
node_modules/
frontend/node_modules/
.venv/
env/
venv/
ENV/

# Production Build
dist/
frontend/dist/
build/

# Python
__pycache__/
backend/__pycache__/
backend/*/__pycache__/
*.py[cod]
*$py.class
*.sqlite3-journal

# Environment variables
.env
.env.local
.env.*.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
